#ifndef __BUTTON_SECRETS_H__
#define __BUTTON_SECRETS_H__

// Uncomment to enable SSL. Make sure to change the port too.
// #define LANTERN_USE_SSL

const char *mqtt_host = "example.com";
const int   mqtt_port = 1883;
const char *mqtt_user = "lantern";
const char *mqtt_password = "s3cr3t";

#endif
